@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-block-start: 1rem;
}

body {
  --text-color: #141414;
  --primary-color: #0065fe;
  --neutral-color: #ffffff;

  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: clamp(1.4rem, 0.4rem + 1.6vw, 1.6rem);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--neutral-color);
  margin: 1rem 0;
}

main {
  --text-padding: 1.5rem;
  --h2-size: clamp(1.5rem, 0.2rem + 1.6vw, 3.2rem);
  --size14: clamp(1rem, 0.5rem + 1.5vw, 1.4rem);
  --linear-gradient-bg: linear-gradient(#1e3448 100%, #1e344800);
}

@media (prefers-reduced-motion: no-preference) {
  h1 {
    --line-height: 204.17%;

    font-weight: 700;
    font-size: clamp(2.3rem, 1.5rem + 2vw, 4.8rem);
    line-height: var(--line-height);

    animation: grow-in 1s linear forwards;
  }
}

@keyframes grow-in {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

h2 {
  font-size: clamp(1.8rem, 0.5rem + 1.7vw, 4rem);
}

h3 {
  font-size: var(--h2-size);
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

a {
  text-decoration: none;
  transition: all 0.7s;
}

a.active {
  color: var(--primary-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

ul {
  list-style: none;
  padding: 0;
}

.button {
  display: inline-block;
  line-height: 0.75;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
  color: var(--neutral-color);
  padding: 1.2rem 3rem;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.button > * {
  vertical-align: middle;
}

.button:where(:hover, :focus-visible) {
  --primary-color: #0052cc;
}

.button:where(:active) {
  --primary-color: #0047b3;
}

.button--no-bg,
.button--bordered {
  --primary-color: transparent;
  --neutral-color: #0065fe;
}

.button--no-bg:where(:hover, :focus-visible) {
  --neutral-color: #0052cc;
}

.button--no-bg:where(:active) {
  --neutral-color: #0047b3;
}

.button--bordered {
  border: 1px solid var(--neutral-color);
}

.button--bordered:where(:hover, :focus-visible) {
  --primary-color: #0052cc;
  --neutral-color: #ffffff;
}

.button--bordered:where(:active) {
  --primary-color: #0047b3;
}

.nav_link {
  line-height: 1;
}

.nav_link,
[aria-label="content info contents"] :where(a),
.contentinfo_para :where(a) {
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}

.nav_link:where(:hover, :focus),
.contentinfo_para :where(a:hover, a:focus) {
  color: var(--primary-color);
}

button.nav_link::after {
  display: inline-block;
  content: "";
  background: url(../image/arrowdown-2.svg) no-repeat;
  width: 2rem;
  height: 1rem;
  margin-inline-start: 1rem;
  transition: all 0.5s ease;
}

button.nav_link:hover::after {
  background-image: url(../image/arrowdowndiff.svg);
}

nav {
  --justify: space-between;

  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify);
  align-items: center;
}

nav > *,
nav button {
  margin: 0;
  padding: 0;
}

.middle-nav-link > * {
  margin-inline-start: 3rem;
}

.wrapper {
  --space: 110rem;

  display: grid;
  grid-template-columns: 1fr min(var(--space), 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.nav_logo {
  width: 15.5rem;
  height: 4rem;
}

.inline-edge {
  padding-inline: 2rem;
}

.header_text-group {
  text-align: center;
  max-inline-size: clamp(72ch, 5ch + 60vw, 100ch);
  margin: auto;
  margin-block: 5rem;
}

.header_title--underline {
  display: inline-flex;
  flex-direction: column;
}

.hightlight {
  color: var(--primary-color);
}

.underline-icon {
  align-self: center;
  width: clamp(8rem, 7rem + 6vw, 17.363rem);
}

.header_text {
  font-size: clamp(1rem, 0.8rem + 2vw, 1.8rem);
  line-height: 155.56%;
  max-inline-size: clamp(43ch, 5ch + 50vw, 64ch);
  margin-inline: auto;
  margin-block: 2rem 3rem;
}

.header_decorations {
  max-inline-size: 100rem;
}

.header_decoration-1_group {
  display: grid;
  align-items: start;
  margin-left: auto;
  width: min(76.8rem, 100%);
}

.header_decoration-1_group > * {
  grid-row: 1;
  grid-column: 1;
}

.header_decoration-1 {
  border: 0.5px solid var(--primary-color);
  border-radius: 2.4rem;
  padding: 3.8rem 5rem;
  background: linear-gradient(45deg, #e2e9f0 10%, transparent, transparent),
    #fff;
}

.header_decoration-1_text {
  text-align: center;
  max-inline-size: 38ch;
  margin-inline: auto;
}

.semi-circle-deco {
  --block-space: 1.5rem;

  grid-column: 1/-1;
  background-image: url(../image/rectangle-semi-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: var(--block-space);
  margin-block-start: 5rem;
}

.header_decoration-2 {
  max-inline-size: 96rem;
  margin: auto;
}

.header_decoration-2 > img {
  display: block;
  margin-inline-start: auto;
}

main h2:not([id="rlo"]) {
  display: flex;
  gap: 1rem;
}

main h2:not([id="rlo"])::before {
  display: inline-block;
  content: "";
  inline-size: 0.5rem;
  background: linear-gradient(#112232, #4d6b8800);
}

main h2:not([id="rlo"]) + p {
  padding-inline-start: var(--text-padding);
}

.possibilities {
  grid-column: 1/-1;
  background: #f9fbfd;
  margin: 0;
}

.possibilities-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
  flex-wrap: wrap;
  padding-block: 3rem;
}

.possibilities-list {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(4rem, 3rem + 10vw, 8.7rem);
}

.possibilities-list > li {
  margin: 0;
}

.why {
  --size: 33ch;

  display: flex;
  flex-wrap: wrap;
  gap: clamp(3rem, 2.5rem + 3vw, 6rem);
  margin-block: 6rem 9rem;
}

.why_article {
  inline-size: var(--size);
  flex: 1;
}

.why_list {
  display: inherit;
  flex-wrap: wrap;
  gap: 3rem;
  inline-size: min(70rem, 100%);
  justify-content: space-between;
}

.why_list_item {
  max-inline-size: var(--size);
}

.why_icon-wrapper {
  display: inline-block;
  margin-block-end: 1.5rem;
  background-color: #3284ff21;
  padding: 1rem;
  border-radius: 100%;
}

.why_icon {
  display: block;
}

.pricing_article {
  text-align: center;
  max-inline-size: 50ch;
  margin-inline: auto;
}

.pricing_list {
  display: flex;
  inline-size: fit-content;
  align-items: center;
  margin-block: 6rem 7rem;
  margin-inline: auto;
}

.pricing_list_item {
  border: 1px solid var(--primary-color);
  padding: 1.5rem clamp(1rem, 0.5rem + 1.6vw, 5rem);
  padding-block-end: 3rem;
  margin: 0;
  box-shadow: 0 4px 8px 0 #0000000d;
}

.pricing_list_item:nth-of-type(2) {
  --scale: 1.1;

  background: linear-gradient(#1e3448 100%, #1e344800);
  color: var(--neutral-color);
  border: none;
  padding-block: 5rem 10rem;
  transform: scale(var(--scale));
}

.pricing_list_item_text1 {
  font-size: clamp(1rem, 0.6rem + 1vw, 2.2rem);
  margin-block-end: 2rem;
}

.pricing_list_item_text2 {
  font-size: clamp(1rem, 0.3rem + 1.5vw, 1.8rem);
}

.pricing_list_item_title {
  font-size: var(--h2-size);
}

.pricing_list_item_offers {
  font-size: var(--size14);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block-start: 2rem;
}

.pricing_list_item_offer {
  display: inherit;
  align-items: center;
  gap: 1rem;
}

.price-btn-group {
  display: flex;
  max-inline-size: 42rem;
  flex-wrap: wrap;
  gap: 1rem;
  margin-inline: auto;
  margin-block-end: 5rem;
  text-align: center;
}

.price-btn-group > * {
  margin: 0;
  flex: 1 0 0;
  text-wrap: nowrap;
}

.URL-shortener {
  position: relative;
  grid-column: 1/-1;
  padding-block: 5rem;

  background: var(--linear-gradient-bg);
}

.URL-shortener::after,
.URL-shortener::before {
  position: absolute;
  content: "";
  inline-size: 100%;
  block-size: 100%;
  top: 0;
  left: 0;
}

.URL-shortener::before {
  background: url(../image/bg-form-image.svg) no-repeat;
  background-size: 70%;
  background-position-y: top 50%;
}

.URL-shortener::after {
  background: url(../image/bg-form-img3.svg) right bottom -60%,
    url(../image/bg-form-img4.svg) right bottom -8%;
  background-repeat: no-repeat;
}

.URL-shortener-form {
  --gap: 1.5rem;

  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  background: var(--neutral-color);
  max-inline-size: 40rem;
  margin-inline: auto;
  color: var(--primary-color);
  padding: 2.5rem;
  border-radius: 8px;
  font-size: 1.2rem;
  z-index: 1;
}

.form-group {
  --space: 1.4rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-basis: 100%;
  align-items: center;
  margin: 0;
}

.form-group > * {
  grid-row: 1;
  grid-column: 1/-1;
  transition: all 0.8s;
}

.form-group:focus-within > * {
  --margin-down: 1rem;
  --padding-inline: 0;
  --opacity: 1;

  grid-row: initial;
}

.form-group > span {
  grid-row: inherit;
}

input,
select {
  background-color: var(--neutral-color);
  padding: var(--space);
  margin: 0;
  border-radius: 0.7rem;
  border: 1px solid var(--primary-color);
}

input:focus-visible,
select:focus-visible {
  outline: 2px solid #1e3448;
}

.form-group:nth-of-type(2),
.form-group:nth-of-type(3) {
  align-self: end;
  flex-basis: calc(50% - var(--gap) / 2);
}

.label[for="domain"] {
  opacity: var(--opacity, 0);
}

.label {
  padding-inline: var(--padding-inline, var(--space));
  margin-block-end: var(--margin-down);
  z-index: 1;
}

.form-text {
  font-size: var(--size14);
}

.form-text a {
  font-weight: 600;
}

.form-text :where(a:hover, a:focus) {
  text-decoration: underline;
}

.form-group .icon {
  max-inline-size: 1.4rem;
}

summary {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: clamp(1rem, 0.5rem + 2rem, 2rem);
  list-style: none;
}

details summary::after {
  content: "+";
}

details[open] summary::after {
  content: "-";
}

.faqs_title {
  justify-content: center;
  margin-block-end: 5rem;
}

.faqs_details {
  max-inline-size: 80ch;
  margin-inline: auto;
  padding-block-end: 2rem;
  border-block-end: 1px solid #d6d6d6;
}

.faqs_details + * {
  margin-block-start: 3rem;
}

.FAQs {
  position: relative;
  grid-column: 1/-1;
  padding-block: 3.5rem 14rem;
  margin: 0;
}

.FAQs::after,
.FAQs::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background: var(--url) no-repeat;
  background-size: var(--size);
  z-index: -1;
}

.FAQs::before {
  --url: url(../image/faq-image-bg1.svg);
  --size: 25%;
}

.FAQs::after {
  --url: url(../image/faq-image-bg2.svg);
  --size: 25%;
  background-position: right bottom;
}

.revolutionizing {
  position: relative;
  text-align: center;
  grid-column: 1/-1;
  color: var(--neutral-color);
  margin: 0;
  padding-block: 8rem 4rem;
  background: var(--linear-gradient-bg);
}

.revolutionizing-text {
  margin-block-end: 2rem;
}

.revolutionizing::before,
.revolutionizing::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background: var(--url) no-repeat;
  background-size: var(--bg-img-size);
}

.revolutionizing::before {
  --url: url(../image/rev-bg-img.svg);
  --bg-img-size: 50%;
  background-position-y: 30%;
}

.revolutionizing::after {
  --url: url(../image/rev-bg-img2.svg);
  background-position-x: right;
}

.revolutionizing-text,
.revolutionizing-text + .button {
  position: relative;
  z-index: 1;
}

.contentinfo {
  padding-block-start: 6rem;
  background: url(../image/footer-bg-img.svg) bottom left,
    url(../image/footer-bg-img2.svg) bottom right;
  background-repeat: no-repeat;
}

.contentinfo_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3rem;
}

.contentinfo_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  grid-template-rows: masonry;
  inline-size: min(83rem, 100%);
  row-gap: 3rem;
}

.contentinfo_list > * {
  margin: 0;
}

.contentinfo_list :where(a:hover, a:focus) {
  color: var(--primary-color);
}

.social {
  display: flex;
  gap: 1rem;
  margin-inline-start: 0.8rem;
}

.social > * {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0.8rem;
  border-radius: 100%;
  transition: all 0.7s;
}

.social > *:hover {
  background-color: #3284ff21;
  box-shadow: 0 0 4px 0 #112232;
}

.contentinfo_para {
  text-align: end;
  margin-block: 2rem 4rem;
}

.contentinfo_para > * + * {
  border-left: 2px solid;
}

.contentinfo_para > * {
  padding-inline: 1rem;
}

@media (max-width: 30em) {
  h1 {
    --line-height: 190%;
  }

  nav {
    --justify: center;
    gap: 1rem;
  }

  .semi-circle-deco {
    --block-space: 0;
  }

  .pricing_list {
    flex-wrap: wrap;
  }

  .pricing_list_item {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing_list_item:nth-of-type(2) {
    --scale: 1;
  }
}
