@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Medium.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url(../fonts/Gilroy-Bold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-block-start: 1rem;
}

body {
  --text-color: #141414;
  --primary-color: #0065fe;
  --neutral-color: #ffffff;

  font-family: "Gilroy", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--neutral-color);
  margin: 1rem 0;
}

h1 {
  --line-height: 204.17%;

  font-weight: 700;
  font-size: clamp(2.3rem, 1.5rem + 2vw, 4.8rem);
  line-height: var(--line-height);
}

h2 {
  font-size: clamp(1.8rem, 0.5rem + 2vw, 4rem);
}

h3 {
  font-size: clamp(1.5rem, 0.2rem + 1.6vw, 3.2rem);
}

h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
}

a {
  text-decoration: none;
}

a.active {
  color: var(--primary-color);
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.button {
  display: inline-block;
  line-height: 0.75;
  font-weight: 600;
  background-color: var(--primary-color);
  border: none;
  color: var(--neutral-color);
  padding: 1.2rem 3rem;
  border-radius: 100px;
  transition: all 0.5s ease;
}

.button > * {
  vertical-align: middle;
}

.button:where(:hover, :focus-visible) {
  --primary-color: #0052cc;
}

.button:where(:active) {
  --primary-color: #0047b3;
}

.button--no-bg,
.button--bordered {
  --primary-color: transparent;
  --neutral-color: #0065fe;
}

.button--no-bg:where(:hover, :focus-visible) {
  --neutral-color: #0052cc;
}

.button--no-bg:where(:active) {
  --neutral-color: #0047b3;
}

.button--bordered {
  border: 1px solid var(--neutral-color);
}

.button--bordered:where(:hover, :focus-visible) {
  --primary-color: #0052cc;
  --neutral-color: #ffffff;
}

.button--bordered:where(:active) {
  --primary-color: #0047b3;
}

.nav_link {
  line-height: 1;
}

.nav_link,
[aria-label="content info contents"] :where(a),
.contentinfo_para :where(a) {
  border: none;
  background-color: transparent;
  transition: all 0.5s ease;
}

.nav_link:where(:hover, :focus),
[aria-label="content info contents"] :where(a:hover, a:focus),
.contentinfo_para :where(a:hover, a:focus) {
  color: var(--primary-color);
}

button.nav_link::after {
  display: inline-block;
  content: "";
  background: url(../image/arrowdown-2.svg) no-repeat;
  width: 2rem;
  height: 1rem;
  margin-inline-start: 1rem;
  transition: all 0.5s ease;
}

button.nav_link:hover::after {
  background-image: url(../image/arrowdowndiff.svg);
}

nav {
  --justify: space-between;

  display: flex;
  flex-wrap: wrap;
  justify-content: var(--justify);
  align-items: center;
}

nav > *,
nav button {
  margin: 0;
  padding: 0;
}

.middle-nav-link > * {
  margin-inline-start: 3rem;
}

.wrapper {
  --space: 110rem;

  display: grid;
  grid-template-columns: 1fr min(var(--space), 100%) 1fr;
}

.wrapper > * {
  grid-column: 2;
}

.nav_logo {
  width: 15.5rem;
  height: 4rem;
}

.inline-edge {
  padding-inline: 2rem;
}

.header_text-group {
  text-align: center;
  max-inline-size: clamp(72ch, 5ch + 60vw, 100ch);
  margin: auto;
  margin-block: 5rem;
}

.header_title--underline {
  display: inline-flex;
  flex-direction: column;
}

.hightlight {
  color: var(--primary-color);
}

.underline-icon {
  align-self: center;
  width: clamp(8rem, 7rem + 6vw, 17.363rem);
}

.header_text {
  font-size: clamp(1rem, 0.8rem + 2vw, 1.8rem);
  line-height: 155.56%;
  max-inline-size: clamp(43ch, 5ch + 50vw, 64ch);
  margin-inline: auto;
  margin-block: 2rem 3rem;
}

.header_decorations {
  max-inline-size: 100rem;
}

.header_decoration-1_group {
  display: grid;
  align-items: start;
  margin-left: auto;
  width: min(76.8rem, 100%);
}

.header_decoration-1_group > * {
  grid-row: 1;
  grid-column: 1;
}

.header_decoration-1 {
  border: 0.5px solid var(--primary-color);
  border-radius: 2.4rem;
  padding: 3.8rem 5rem;
  background: linear-gradient(45deg, #e2e9f0 10%, transparent, transparent),
    #fff;
}

.header_decoration-1_text {
  text-align: center;
  max-inline-size: 38ch;
  margin-inline: auto;
}

.semi-circle-deco {
  --block-space: 1.5rem;

  grid-column: 1/-1;
  background-image: url(../image/rectangle-semi-circle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-block: var(--block-space);
  margin-block-start: 5rem;
}

.header_decoration-2 {
  max-inline-size: 96rem;
  margin: auto;
}

.header_decoration-2 > img {
  display: block;
  margin-inline-start: auto;
}

.possibilities {
  grid-column: 1/-1;
  background: #f9fbfd;
  margin: 0;
}

.possibilities-flex {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
  padding-block: 3rem;
}

.possibilities-list {
  display: inherit;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: clamp(3rem, 2rem + 2vw, 5rem);
  list-style: none;
  padding: 0;
}

.possibilities-list > li {
  margin: 0;
}

@media (max-width: 30em) {
  h1 {
    --line-height: 190%;
  }

  nav {
    --justify: center;
    gap: 1rem;
  }

  .semi-circle-deco {
    --block-space: 0;
  }
}
